<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My gallery</title>
    <link rel="stylesheet" href='/static/styles.css' type='text/css'>
</head>

<body>
    <!-- <h1>Agi's gallery</h1> -->
    <div class='viewer'>
        <div><button class='arrows'>
                <img class='arrow1' src='./static/arrow.svg'>
                <button class='arrows2'>
                    <img class='arrow2' src='./static/arrow.svg'>
        </div>
        <div class='description'>
            <div class=table>
                <tr>
                    <th>
                        <h2 class = 'pictitle'><%=myPix[0].title%></h2>
                    </th>
                    <td>
                        <p class = 'pictext'><%=myPix[0].descriptiontext%></p>
                    </td>
                </tr>
            </div>
        </div>
        <div class='bigpic'><img src=<%= myPix[0].url%> height='400px' width ='900px'></div>
    </div>
    <div class='thumbnails'>
            <% for (let i = 0; i < myPix.length; i++){%>
            <div class='pic'><img src=<%= myPix[i].url%> height='60px' width = '60px'></div>
            <% } %>
    </div>
    <script src='../app.js'></script>
</body>

</html>