* {
    font-family: 'Trebuchet MS';
}

body {
    display: flex;
    justify-content: center;
}

h1{
    font-family: Verdana;
}


/* .dropdown {
    background-color: #CCC;
    font-size: 16px;
    margin-left: 3px;
    display: flex;
} */

.links {
    color: red;
    text-decoration: none;
    text-transform: uppercase;
}

.cocktailname {
    font-weight: bold;
}

.nonalc {
    font-weight: normal;
    font-size: 14px;
    align-items: flex-start;
}

.ingredients {
    font-size: 14px;
}

.drinkprice {
    font-weight: bold;
}

th {
    background-color: black;
    color: white;
    height: 40px;
}

tr:nth-child(even) {
    background: #CCC
}

tr :nth-child(odd) {
    width: 500px;
}

tr :nth-child(even) {
    width: 150px;
}