.container {
    display: flex;
    background-color: #ffd62a;
    height: 600px;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
}

.item {
    background-color: #b02aff;
    height: 100px;
    width: 100px;
    list-style: none;
    margin-left: 10px;
}