<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ferrilata exam</title>
    <style>

        .form {
          display: grid;
          width: 300px;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: repeat(5, 1fr);
          grid-gap: 20px;
          grid-auto-flow: row
        }
    
        .bid{
          grid-column: 1/3;
        }

        select{
          grid-column: 1/3;
        }
    
        h1{
          color:#C2EA7E;
        }
    
      </style>
</head>

<body>
    <h1>🔨Online Auction House🔨</h1>
    <ul>
    </ul>
    <h2>💰Bid💰</h2>
    <form class="form" method="POST" action="/api/items/:id/bids">
        <select class = "select">
        </select>
        <label for="biddername" class=>Name:</label>
        <input type="text" name="biddername" class="biddername" required>
        <label for="bidamount">Amount:</label>
        <input type="number" name="bidamount" class="bidamount" required>
        <input type="button" class="bid" value="Bid"></label>
    </body>
<script src="app.js"></script>

</html>