.container {
    display: flex;
    background-color: #ffd62a;
    height: 600px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
}

.item {
    background-color: #b02aff;
    height: 100px;
    width: 100px;
    list-style: none;
}