<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>游붉游꿧</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container">

        <div id="foxbutton"><img id="foxpic" src="imgs/foxplayer.png"></div>
        <div class="notifications-wrapper">
            <p id="notifications">notifications</p>
        </div>
        <div id="artwork"><img id="musicpic" src="imgs/Ylvis-TheFox.jpg"></div>
        <div id="playlist">Playlist<img class="addpic2" src="imgs/add.png"></div>

        <div class="list-playlist">
            <div class="playlist" id="all">
                <p>All tracks</p>
            </div>
            <div class="playlist" id="favorites">
                <p>Favorites</p>
            </div>
            <div class="playlist">
                <p>Relaxing music for programming</p><img id="delete1" src="imgs/delete.png">
            </div>
            <div class="playlist">
                <p>Party</p><img id="delete1" src="imgs/delete.png">
            </div>
        </div>


        <div id="current">
            <h3 id="currently-title">currently playing song: salalala</h3>
            <p id="currently-artist">currently playing artist: s치n치n치n치</p>
            <div class="buttons"><img class="addpic" src="imgs/add.png" id="addsong">
                <img class="star" src="imgs/star.svg">
            </div>
        </div>
        <div id="tracks">
            <div class="song">
                <div class="numbers">
                    <p>2</p>
                </div>
                <div class="listed-title">
                    <p>*songtitle</p>
                </div>
                <div class="song-length">
                    <p id="song-length">4:56</p>
                </div>
            </div>
            <div class="song">
                <div class="numbers">
                    <p>3</p>
                </div>
                <div class="listed-title">
                    <p>*yeyeye*</p>
                </div>
                <div class="song-length">
                    <p>3:52</p>
                </div>
            </div>
        </div>


        <div class="audio-player">
            <img class="audiobutton" id="prev" src="imgs/previous.svg">
            <img class="audiobutton" id="play" src="imgs/play.svg">
            <img class="audiobutton" src="imgs/next.svg" id="next">
            <!-- <audio controls src="music/Organoid_-_09_-_Purple_Drift.mp3"></audio> -->
            <p id="time-elapsed">3:16</p>
            <input type="range" min="1" max="10" value="50" class="slider" id="song-slider">
            <p class="song-length">4:46</p>
            <img src="imgs/shuffle.svg" id="shuffle">
            <img src="imgs/volume.svg" id="volume">
            <input type="range" min="1" max="10" value="50" class="slider" id="volume-slider">
        </div>
    </div>
    <script src="working/main.js"></script>
</body>

</html>