<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post New Playlist</title>
    <style>
        input{
            width: 300px;
        }
        .submitbutton{
            width: 60px;
        }
    </style>
</head>

<body>
    <form class="newplaylist" action="/playlists" target="_self" method="POST">
        <label for="title">Name your new playlist:</label>
        <input type="text" placeholder="100 hours relaxing death metal♥" name="title" required autofocus >
        <input class="submitbutton" type="submit" value="Submit">
    </form>
    <a href="http://localhost:3000/"><button>go back to main</button></a>
</body>

</html>