.container {
    display: flex;
}

.main-content {
    background-color: yellow;
    flex-grow:2;
    display: block;
    height: 700px;
    width: 400px;
}

.sidebar {
    background-color: green;
    flex-grow: 1;
    width: 300px;
}

.header{
    margin: 0;
    background-color: purple;
    height: 50px;
    list-style-type: none;
    flex-grow: 1;
    width: 700px;
    display: block;
}

.link {
    background-color: cyan;
    width: 60px;
    height: 40px;
    display: inline-block;
    margin: 5px;
}