body {
    margin: auto;
}

.container {
    display: flex;
    height: 700px;
    justify-content: center;
    
}

.main-content {
    background-color: yellow;
    height: 650px;
    width: 400px;
    position: absolute;
}

.sidebar {
    background-color: green;
    width: 300px;
    height: 650px;
    position: absolute;
}

.header{
    background-color: purple;
    height: 60px;
    width: 700px;
    position: fixed;
}

.navbar {
    background-color: cyan;
    list-style-type: none;
    margin-top: 15px;
    height: 30px;
    position: relative;
}

.link1 {
    width: 60px;
    height: 30px;
    margin-right: 20px;
}


.link2 {
    width: 40px;
    height: 30px;
    margin-right: 20px;
}


.link3 {
    width: 70px;
    height: 30px;
    margin-right: 20px;
}