.body {
    display: flex;
    justify-content: center;
    /* background-color: rgb(236,240,241); */
}

@font-face {
    font-family: 'Lato';
    src: url('https://fonts.googleapis.com/css?family=Lato:400,900');
}

.dashboard {
    display: flex;
    justify-content: center;
    background: rgb(236,240,241);
}

.table {
    display: flex;
    font-family: 'Lato Regular';
    color: rgb(52,73,94);
    font-weight: bold;
    width: auto;
    background-color: white;
    border-collapse: collapse;
}

tr{
    border: 3px solid black;
    border-radius: 10px;
}


.cities {
    font-size: 25px;
    font-weight: bold;
}

.location {
    font-size: 14px;
}

.celcius {
    font-size: 40px;
    justify-content: flex-end;
}

.image {
    width: 100px;
}

h1 {
    display: flex;
    justify-content: center;
    background: rgb(236,240,241);
    margin: 0;
}