<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>3 x 3 Matrix Changer</title>
    <style>
        .loadform {
            display: grid;
            width: 300px;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
            grid-auto-flow: row
        }

        .updatematrix {
            display: grid;
            grid-template-columns: repeat(3, 150px);
            grid-template-rows: 1fr 1fr;
            grid-gap: 10px;
        }

        h1 {
            color: #C2EA7E;
        }

        .saveit {
            width: 90px;
        }
    </style>
</head>

<body>
    <h1> 3 x 3 Matrix</h1>
    <form class="loadform">
        <input type="text" name="matrixid" class="matrixid" required autofocus>
        <input type="submit" class="loadmatrix" value="Load matrix #X"></label>
    </form>

    <h2>Change it below:</h2>

    <form class="updatematrix">
        <input type="text" name="m1" class="m1" required autofocus>
        <input type="text" name="m2" class="m2" required>
        <input type="text" name="m3" class="m3" required>
        <input type="text" name="m4" class="m4" required>
        <input type="text" name="m5" class="m5" required>
        <input type="text" name="m6" class="m6" required>
        <input type="text" name="m7" class="m7" required>
        <input type="text" name="m8" class="m8" required>
        <input type="text" name="m9" class="m9" required>
        <input type="submit" class="saveit" value="Save it!"></input>
    </form>
    <script src="app.js"></script>
</body>

</html>