<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cocktails!</title>
    <link rel="stylesheet" href='static/styles.css' type='text/css'>
</head>

<body>
    <h1>Cocktails</h1>

    <select class='dropdown'>
        <option value=''><a href='http://localhost:3001'>ALL</a></option>
        <option value=''><a href='http://localhost:3001/?alcohol=gin'>GIN</a></option>
        <option value=''><a href='http://localhost:3001/?alcohol=vodka'>VODKA</a></option>
        <option value=''><a href='http://localhost:3001/?alcohol=rum'>RUM</a></option>
        <option value=''><a href='http://localhost:3001/?alcohol=tequila'>TEQUILA</a></option>
    </select>

    

    <table class='table'>
        <tr>
            <th>NAME</th>
            <th>PRICE</th>
        </tr>

        <%if(alcoholCocktails.length !== 0){%>
            <% for(let i=0; i < alcoholCocktails.length; i++) { %>
                <tr>
                    <td>
                        <p class='cocktailname'><%=alcoholCocktails[i].name%></p>
                        <% if(alcoholCocktails[i].isAlcoholic === false) {%>
                        <p class='nonalc'>(non-alcoholic)</p>
                        <% }%>
                        <p class='ingredients'><%=alcoholCocktails[i].contains%></p>
                    </td>
                    <td class='drinkprice' align="center"><%= alcoholCocktails[i].price+' Ft' %></td>
                </tr>
            <% } %>
        <% } %>

    </table>
</body>

</html>