<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cocktails!</title>
    <link rel="stylesheet" href='static/styles.css' type='text/css'>
</head>

<body>
    <h1>Cocktails</h1>

    <select class='dropdown'>
        <option value=''><a href=''>ALL</a></option>
        <option value=''><a href='http://localhost:3001/alcohol?=gin'>GIN</a></option>
        <option value=''><a href=''>VODKA</a></option>
        <option value=''><a href=''>RUM</a></option>
        <option value=''><a href=''>TEQUILA</a></option>
    </select>

    <table class = 'table'>
        <tr>
            <th>NAME</th>
            <th>PRICE</th>
        </tr>

        <% for(let i=0; i < cocktails.length; i++) { %>
        <tr>
            <td>
                <p class='cocktailname'><%=cocktails[i].name%></p>
                <% if(cocktails[i].isAlcoholic === false) {%>
                <p class='nonalc'>(non-alcoholic)</p>
                <% }%>
                <p class='ingredients'><%=cocktails[i].contains%></p>
            </td>
            <td class='drinkprice' align="center"><%= cocktails[i].price+' Ft' %></td>
        </tr>
        <% } %>

    </table>
</body>

</html>