<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yum yum cocktails!</title>
    <link rel="stylesheet" href='static/styles.css' type='text/css'>
</head>

<body>
    <h1>Cocktails</h1>

    <div class='nav'>
        <a href=''>ALL</a>
        <a href=''>GIN</a>
        <a href=''>VODKA</a>
        <a href=''>RUM</a>
        <a href=''>TEQUILA</a>
    </div>

    <table>
        <tr>
            <th>NAME</th>
            <th>PRICE</th>
        </tr>

        <% for(let i=0; i < cocktails.length; i++) { %>
        <tr>
            <td><%=cocktails[i].name%><br><%= cocktails[i].content %></td>
            <td align="center"><%= cocktails[i].price+' Ft' %></td>
        </tr>
        <% } %>

    </table>
</body>

</html>