<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>❄️Weather Forecast🌞</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <link rel="stylesheet" href='static/styles.css' type='text/css'>
</head>

<body>
    <h1>Overview</h1>
    <div class='dashboard'>
        <table class='table'>
            <%for (let i = 0; i < forecasts.length; i++){%>
            <tr>
                <td>
                    <p class='cities'><%=forecasts[i].city%></p>
                    <p class='location'><%=forecasts[i].location%></p>
                </td>

                <td>
                    <p class='celcius'><%=forecasts[i].weather[0].temp%>°C</p>
                </td>

                <td>
                    <img class='image' src='../static/pics/<%=forecasts[i].weather[0].icon%>.png'>
                </td>
                <%}%>
            </tr>
        </table>
    </div>
</body>


</html>