body {
    background-image: url('background.jpg');
    /* background: lightblue; */
    justify-content: center;
    display: flex;
}

/* h1 {
    display: inline-block;
    justify-content: center;
    height: auto;
    width: auto;
    position: absolute;
    z-index: 1;
} */

.viewer {
    display: flex;
    background-color: white;
    height: 400px;
    width: 1000px;
    align-items: flex-end;
    position: relative;
}

.arrows {
    position: absolute;
    display: inline-block;
    justify-self: right;
    background-color: white;
    height: 400px;
    width: 50px;
    top: 0;
}

.arrows2 {
    position: absolute;
    display: inline-block;
    background-color:white;
    height: 400px;
    width: 50px;
    right: 0;
    top: 0;
}

img.arrow1 {
    position: absolute;
    top: 200px;
    left: 15px;
}

img.arrow2 {
    position: absolute;
    top: 200px;
    right: 15px;
    transform: rotate(180deg);
}

.thumbnails {
    height: 100px;
    width: 800px;
    position: absolute;
    top: 450px;
}

.lilpics {
    display: flex;
}

.pic {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: gray;
    margin-right: 20px;
    border: 5px solid white;
}

.description {
    display: flex;
    align-content: flex-end;
    width: 900px;
    margin-left: 50px;
    opacity: .3;
    z-index: 1;
    color: white;
    background-color: black;
    font-family: 'Courier New';
}

h2 {
    margin-left: 20px;
}

p {
    margin-left: 20px;
}

.bigpic {
    margin-left: 50px;
    top: 0;
    position: absolute;
    display: flex;
    height: 400px;
    width: 900px;
    /* background-color: lightgreen; */
}