<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <style>

    .form {
      display: grid;
      width: 300px;
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: row;
      grid-template-rows: repeat(5, auto);
      grid-gap: 20px;
    }

    .report{
      grid-column: 1/3;
    }

    h1{
      color:#C2EA7E;
    }

  </style>
</head>

<body>
  <container class="container">
    <nav>
      Home
      <a href="http://localhost:3000/tickets">Tickets</a>
    </nav>
    <h1>Create new ticket</h1>
    <form class="form" method="POST" action="/tickets">
      <label for="name">Name:</label>
      <select class = "select">
        <option value=""></option>
      </select>
      <label for="manufacturer">Manufacturer:</label>
      <input type="text" name="manufacturer" class="manufacturer" required>
      <label for="serialno">Serial number:</label>
      <input type="text" name="serialno" class="serialno" required>
      <label for="description">Description:</label>
      <input type="text" name="description" class="description" required>
      <input type="button" class="report" value="Report"></label>
    </form>
  </container>
</body>
<script src="app2.js"></script>

</html>
