body{
    height: 100vh;
    background-color:#F5F5F5;
}

.container{
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(7, 100px);
    grid-auto-flow: column;
}

#foxbutton{
    grid-column: 1/3;
    grid-row: 1/3;
}

#foxpic{
    height: 100px;
    width: 100px;
}

.notifications-wrapper{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #EAEAEA;
}

#notifications{
    font-size: 10px;
    padding: 5px;
    color: red;
}

#artwork{
    grid-column: 3/5;
    grid-row: 1/3;
}

#musicpic{
    height: 180px;
    width: 180;
    border: 10px solid white;
}

#playlist {
    grid-column: 1/3;
    grid-row: 2/3;
    color: black;
    font-size: 30px;
    line-height: 100px;
    padding: 5px;
}

.list-playlist{
    grid-column: 1/5;
    grid-row: 3/7;
    overflow: scroll;
    padding: 3px;
    margin: 5px;
    display: grid;
    grid-template-columns: 4fr;
    align-items: center;
}

.playlist:nth-child(odd){
    background-color: #EAEAEA;
}

.playlist:nth-child(even){
    background-color: #F5F5F5;
}

#current{
    grid-column: 5/9;
    grid-row: 1/2;
    padding: 5px;
    position: relative;
    background-color: #EAEAEA;
}
.buttons{
    grid-column: 7/9;
    grid-row: 1/3;
    position: absolute;
    right: 0;
    top: 75px;
}

#tracks{
    grid-column: 5/9;
    grid-row: 2/7;
    overflow: scroll;
    grid-template-rows: repeat(8, 1fr);
}
.song{
    padding: 3px;
    margin: 5px;
    display: grid;
    grid-template-columns: 30px 2fr 30px;
}

.song:nth-child(even){
    background-color: #EAEAEA;
}

.song:nth-child(odd){
    background-color: #F5F5F5;
}

.addpic, .star, .delete1, .addpic2{
    height: 20px;
    width: 20px;
}

.playlist{
    position: relative;
}

.playlist:hover, .song:hover{
    background-color: lightblue;
}

.playlist>img{
    position: absolute;
    left: 300px;
    top: 15px;
}

#play{
    height: 30px;
}

.audio-player{
    grid-column: 1/9;
    grid-row: 7/8;
    background-color: white;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

.audiobutton{
    height: 10px;
    width: 25px;
}

#volume-slider, #song-slider{
    width: 30px;
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .5s;
}

#song-slider{
    width: 300px;
    -webkit-appearance: none;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .5s;
}

#volume-slider:hover, #song-slider:hover {
    opacity: 1;
}

#volume-slider::-webkit-slider-thumb, #song-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #017335;
    cursor: pointer;
}